<% include ./partial/iheader.ejs %>
<br>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l2">
			</div>
			<div class="col s12 m12 l10">
				<h5 style="color: #aa00ff"><b>Personal Boards</b><i class="material-icons left">person</i></h5>
				<div class="row">
					<% notes.forEach((i)=>{ %>
						<a href="/users/board/<%= i.uid %>">	
							<div class="col s12 m12 l3 purple lighten-4 z-depth-1 waves-effect waves-light" style="line-height: 100px;display: table-cell;text-align: center; color: #ab47bc;width: 250px;height: 100px;margin:5px;">
								<%= (i.name) %>
							</div>
						</a>
						
					<% }); %>
					
					<div data-target="modal1" class="col s12 m12 l3 purple lighten-4 z-depth-1 waves-effect waves-light modal-trigger" style="line-height: 100px;display: table-cell;text-align: center; color: #ab47bc;width: 250px;height: 100px;margin: 5px">
						Create New Board
					</div>
				  <!-- Modal Structure -->
				  <div id="modal1" class="modal">
					  <form action="/users/new/board" method="post">
						<div class="modal-content">
							<h4 style="text-align: center;color: #ab47bc">New Board Details<i class="modal-close material-icons right">close</i></h4>
							<div class="container"><div class="divider"></div></div>
							  <div class="row">
								<div class="input-field col s6">
								  <input id="name" name="name" type="text" class="validate" required />
								  <label for="name">Name</label>
								</div>
							  </div>
							  <div class="row">
								<div class="input-field col s12">
								  <textarea id="textarea1" name="desc" required class="materialize-textarea"></textarea>
								  <label for="textarea1">Description</label>
								</div>
							  </div>
							<div class="divider"></div>
							</div>
						<div class="modal-footer">
						  <button class="btn waves-effect waves-light purple lighten-1" style="margin: 0 5px" type="submit" >Create
							<i class="material-icons right">create</i>
						  </button>
						</div>
					  </form>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<% include ./partial/ifooter.ejs %>