<% include ./partial/header.ejs %>
<br>
<div class="row">
	<div class="col s12 m6 l6">
		<div class="section">
			<div class="container">
				<h3 style="color: #9c27b0"><b>Login</b></h3>
				<div class="divider"></div>
				<div class="section">
					<div class="row">
					<form class="col s12" action="/signup" method="post">
					  <div class="row">
						<div class="input-field col s12">
						  <input id="email" type="email" class="validate" name="email" required />
						  <label for="email">Email</label>
							<span class="helper-text" data-error="invalid email" data-success="right" style="font-size: 20px"></span>
						</div>
					  </div>
					  <div class="row">
						<div class="input-field col s12">
						  <input id="password" type="password" class="validate" name="password" required />
						  <label for="password">Password</label>
						</div>
					  </div>
						<div class="row">
							<div class="col s12 m2 l2"></div>
							<div class="col s12 m8 l8">
								<div class="container">
									<button class="waves-effect waves-light btn-large purple" type="submit">Login<i class="material-icons right">send</i></button>
								</div>
							</div>
							<div class="col s12 m2 l2"></div>
						</div>
					</form>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12 m6 l6">
		<div class="section">
			<div class="container">
				<h3 style="color: #9c27b0"><b>Signup</b></h3>
				<div class="divider"></div>
				<div class="section">
					<div class="row">
					<form class="col s12" action="/signup" method="post">
					  <div class="row">
						<div class="input-field col s6">
						  <input id="first_name" type="text" name="fname" class="validate" required />
						  <label for="first_name">First Name</label>
						</div>
						<div class="input-field col s6">
						  <input id="last_name" type="text" class="validate" name="lname" required />
						  <label for="last_name">Last Name</label>
						</div>
					  </div>
						 <div class="row">
						<div class="input-field col s12">
						  <input id="email" type="email" class="validate" name="email" required />
						  <label for="email">Email</label>
							<span class="helper-text" data-error="invalid email" data-success="right" style="font-size: 20px"></span>
						</div>
					  </div>
					  <div class="row">
						<div class="input-field col s6">
						  <input id="password" type="password" class="validate" name="password" required />
						  <label for="password">Password</label>
						</div>
						 <div class="input-field col s6">
						  <input id="confirm-password" type="password" class="validate" name="cpassword" required />
						  <label for="confirm-password">Confirm Password</label>
						</div>
					  </div>
						<div class="row">
							<div class="col s12 m2 l2"></div>
							<div class="col s12 m8 l8">
								<div class="container">
									<button class="waves-effect waves-light btn-large purple" type="submit">Sign Up<i class="material-icons right">person_add</i></button>
								</div>
							</div>
							<div class="col s12 m2 l2"></div>
						</div>
					</form>
				  </div>

				</div>
			</div>
		</div>
	</div>
</div>
<br>
<% include ./partial/footer.ejs %>