<% include ./partial/header.ejs %>
<body style="font-family: 'Baloo 2', cursive;">
	<div class="navbar-fixed">
		<nav class="purple darken-3">
			<div class="nav-wrapper">
				<div style="margin-left: 30px; margin-right: 30px;">
				  <a href="#!" class="brand-logo center">Mr. Notes<img src="/img/fav2.png" class="left" style="width: 64px;height: 64px;margin-top: 2px;"></a>
					<ul id="nav-mobile" class="left hide-on-med-and-down">
					<li><a href="/" class="waves-effect waves-light btn purple darken-2"><i class="material-icons">keyboard_backspace</i></a></li>
				  </ul>
				</div>
			</div>
		  </nav>
	</div>
	<br>
	<div class="row" >
		<div class="col s12 m6 l6">
			<div class="section">
				<!-- <div class="container"> -->
					<h3 class="purple-text" style="text-align: center"><b>Login</b></h3>
					<div class="divider"></div>
					<div class="section">
						<div class="row">
							<form class="col s12" action="/login" method="post">
							<div class="row">
								<div class="input-field col s12">
								<input id="email" type="email" class="validate" name="email" required />
								<label for="email">Email</label>
									<span class="helper-text" data-error="invalid email" data-success="right" style="font-size: 20px"></span>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
								<input id="pswrd" type="password" class="validate" name="password" required />
								<label for="pswrd">Password</label>
								</div>
							</div>
								<div class="row">
									<div class="col s12 m6 l6 center">
										<!-- <div class="container"> -->
											<button class="waves-effect waves-light btn-large purple" type="submit"><i class="material-icons left">person</i><span style="font-family: 'Baloo 2', cursive;">Login</span></button>
										<!-- </div> -->
									</div>
									<div class="col s12 m6 l6 center">
										<div class="section">
											<!-- <div class="container"> -->
												<a href="/forget-password" style="color: #bdbdbd; font-size: 20px; font-weight: bold;text-decoration: underline;"  target="_blank">Forget Password</a>
											<!-- </div> -->
										</div>
									</div>
								</div>
							</form>
					</div>
					<!-- </div> -->
				</div>
			</div>
		</div>
		<div class="col s12 m6 l6">
			<div class="section">
				<!-- <div class="container"> -->
					<h3 class="purple-text" style="text-align:center"><b>Signup</b></h3>
					<div class="divider"></div>
					<div class="section">
						<div class="row">
						<form class="col s12" action="/signup" method="post">
						<div class="row">
							<div class="input-field col s6">
							<input id="first_name" type="text" name="fname" class="validate" required />
							<label for="first_name">First Name</label>
							</div>
							<div class="input-field col s6">
							<input id="last_name" type="text" class="validate" name="lname" required />
							<label for="last_name">Last Name</label>
							</div>
						</div>
							<div class="row">
							<div class="input-field col s12">
							<input id="signup-email" type="email" class="validate" name="email" required />
							<label for="signup-email">Email</label>
								<span class="helper-text" data-error="invalid email" data-success="right" style="font-size: 20px"></span>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s6">
							<input id="password" type="password" class="validate" name="password" required />
							<label for="password">Password</label>
							</div>
							<div class="input-field col s6">
							<input id="confirm-password" type="password" class="validate" name="cpassword" required />
							<label for="confirm-password">Confirm Password</label>
							</div>
						</div>
							<div class="row">
								<!-- <div class="col s12 m1 l2"></div> -->
								<div class="col s12 m6 l6 center">
									<!-- <div class="container"> -->
										<button class="waves-effect waves-light btn-large purple" type="submit"><span style="font-family: 'Baloo 2', cursive;">Sign Up</span><i class="material-icons left">person_add</i></button>
									<!-- </div> -->
								</div>
								<!-- <div class="col s12 m1 l2"></div> -->
							</div>
						</form>
					</div>
					<!-- </div> -->
				</div>
			</div>
		</div>
	</div>
	<br>
	<% if (msg){ %>
	<script>
	document.addEventListener('DOMContentLoaded', ()=>{
		M.toast({
			html: `<i class="material-icons left" style="color:<%= color %>"><%= icon %></i><%= msg %>`, 
			displayLength: 15000
		})
	});
	</script>
	<% } %>
	<% include ./partial/footer.ejs %>