<link rel="stylesheet" href="/css/board.css">
<div class="section">
	<br>
	<div class="container">
		<br>
			<div class="purple darken-3">
				<h3>Description</h3>
				<div class="divider"></div>
				<p><%= desc %></p>	
			</div>
		<br>
		<div class="row" >
			<div class="col s12 purple darken-3" style="margin: 5px;border: none;border-radius: 5px">
				<form id="newListForm">
					<div class="row">
						<!-- creating new list -->
						<div class="input-field col s12">
							<input id="icon_prefix" type="text" class="validate white-text" name="name" required />
							<label for="icon_prefix" class="white-text">List Name</label>
						</div>
						<div class="input-field col s12 center">
							<button type="submit" id="newListName" class="waves-effect waves-light btn purple darken-2">Create<i class="material-icons left">add</i></button>
						</div>
					</div>
				</form>
			</div>	
		</div>
	</div>
	<div class="section">
		<div class="container">	
			<div class="row" id="loadList"></div>
		</div>
	</div>
	<br>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
	<form id="newCardForm">
		<div class="modal-content">
			<h4 class="center-align" style="color: #ab47bc">New Card Details<i class="modal-close material-icons right">close</i></h4>
			<div class="container"><div class="divider"></div></div>
				<div class="row">
				<div class="input-field col s12">
					<textarea id="textarea1" name="desc" required class="materialize-textarea"></textarea>
					<label for="textarea1">Description</label>
				</div>
				</div>
				<div class="row">
				<div class="input-field col s12" style="width:100%">
					<input type="text" class="datepicker" name="date" />
					<label for="textarea1">Due Date</label>
				</div>
				</div>
			<br>
			<div class="divider"></div>
			</div>
		<div class="modal-footer">
			<button class="btn waves-effect waves-light purple lighten-1" style="margin: 5px 5px" type="submit" >Create
			<i class="material-icons left">create</i>
			</button>
		</div>
	</form>
</div>
<script>
	const uid = "<%= uid %>";
</script>
<script src="/js/board.js"></script>
<% include ./partial/ifooter.ejs %>