<% include ./partial/header.ejs %>
<body style="font-family: 'Baloo 2', cursive;">
	<!-- Dropdown Structure -->
	<ul id="dropdown1"  class="dropdown-content purple darken-3">
		<li><a href="#addMember" class="waves-effect waves-light white-text modal-trigger"><span class="right">Add Member</span><i class="material-icons left">group_add</i></a></li>
		<li><a href="#" class="white-text waves-effect waves-purple">Setting<i class="material-icons left">settings</i></a></li>
		<li><a href="/logout" class="white-text waves-effect waves-purple">Logout<i class="material-icons left">exit_to_app</i></a></li>
	</ul>
	<div class="navbar-fixed">
		<nav class="purple darken-3">
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<div class="nav-wrapper">
				<div style="margin-left: 30px; margin-right: 30px;">
					<a href="#!" class="brand-logo center">NJ Notes</a>
					<ul class="right hide-on-med-and-down">
						<li><a class="waves-effect waves-purple dropdown-trigger btn purple darken-2" href="#dropdown1"><%= user.name %><i class="material-icons left">person</i></a></li>
					</ul>
					<ul class="left hide-on-med-and-down">
						<li><a href="/users" class="waves-effect waves-purple btn purple darken-2"><i class="material-icons">home</i></a></li>
					</ul>
				</div>
			</div>
			</nav>
	</div>
	<ul class="sidenav" id="mobile-demo">
		<li>
			<div class="user-view">
				<div class="background">
					<img src="/img/ocean-3605547.jpg">
				</div>
				<a href="#"><img class="circle" src="/img/human-3056693.jpg"></a>
				<a href="#"><span class="white-text name"><%= user.name %></span></a>
				<a href="#"><span class="white-text email"><%= user.email %></span></a>
				</div>
		</li>
		<li><a href="/users" >Home<i class="material-icons left">home</i></a></li>
		<li>
			<div class="divider"></div>
		</li>
		<li><a href="#">Setting<i class="material-icons left">settings</i></a></li>
		<li><a href="#addMember" class="modal-trigger">Add Member<i class="material-icons left">group_add</i></a></li>
		<li><a href="/logout">Logout<i class="material-icons left">exit_to_app</i></a></li>
	</ul>
<main>
<!-- Modal Structure -->
<div id="addMember" class="modal">
  <form action="" id="newMemberForm" method="post">
	<div class="modal-content">
		<h4 style="text-align: center;color: #ab47bc">Invite Team Member<i class="modal-close material-icons right">close</i></h4>
		<div class="container"><div class="divider"></div></div>
		  <div class="row">
			<div class="input-field col s12">
			  <input id="email" name="email" type="email" class="validate" required />
			  <label for="email">Email</label>
			</div>
		  </div>
		<div class="divider"></div>
		</div>
	<div class="modal-footer">
	  <button class="btn waves-effect waves-light purple lighten-1" style="margin: 5px 5px" id="addMemberBtn" type="submit" >Add Him
		<i class="material-icons right">person_add</i>
	  </button>
	</div>
  </form>
</div>
<% include ./main-board.ejs %>