<br>
</main>
<footer class="page-footer purple darken-3">
  <div class="container">
	<div class="row">
	  <div class="col l6 s12">
		<h5 class="white-text">An Open Source Project</h5>
		<p class="grey-text text-lighten-4">If you are interested to contribute in this project. <a href="https://github.com/nikhiljainjain/mr-notes" target="_blank" class="white-text" style="text-decoration: none;margin-left: 5px">Click Here</a></p>
	  </div>
	  <div class="col l4 offset-l2 s12">
		<h5 class="white-text">Links</h5>
		<ul>
		  <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
		  <li><a class="grey-text text-lighten-3" href="#!">Carrer</a></li>
		  <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
		</ul>
	  </div>
	</div>
  </div>
  <div class="footer-copyright">
	<div class="container">
	© Copyright 2020
	<a class="grey-text text-lighten-4 right" href="#!">All rights reserved</a>
	</div>
  </div>
</footer>
</body>
<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>
</html>