</body>
<script src="/js/jquery-3.4.1.slim.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>
</html>