<!DOCTYPE html>
<html lang="enUS" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/karma/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="nj-notes">
    <!-- Meta Description -->
    <meta name="description" content="stylish sticky notes">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>NJ Notes</title>
	<!--material icons-->
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--font baloo-->
	<link href="https://fonts.googleapis.com/css?family=Baloo+2&display=swap" rel="stylesheet"> 
	<!--material css-->
	<link rel="stylesheet" href="/css/materialize.min.css">
	
</head>
<body style="font-family: 'Baloo 2', cursive;">
	<div class="navbar-fixed">
		<nav class="purple darken-3">
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<div class="nav-wrapper">
				<div style="margin-left: 30px; margin-right: 30px;">
				  <a href="#!" class="brand-logo">NJ Notes</a>
					<% if (lgbtn){ %>
					  <ul class="right hide-on-med-and-down">
						<li><a href="/login-signup" class="waves-effect waves-light btn purple">Login <i class="material-icons left">person_outline</i></a></li>
					  </ul>
					<% } %>
				</div>
			</div>
		  </nav>
	</div>
	<% if (lgbtn){ %>
	 <ul class="sidenav" id="mobile-demo">
		<li><a href="/login-signup">Login/Sign-Up <i class="material-icons left">person_outline</i></a></li>
	</ul>
	<% } %>