<!DOCTYPE html>
<html lang="enUS" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/img/fav.png">
    <!-- Meta Description -->
    <meta name="description" content="stylish sticky notes">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
	<title>Mr Notes</title>
	<!-- icons for gender -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--material icons-->
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--font baloo-->
	<link href="https://fonts.googleapis.com/css?family=Baloo+2:500&display=swap" rel="stylesheet"> 
	<!--material css-->
	<link rel="stylesheet" href="/css/materialize.min.css">
	<!--common css-->
	<link rel="stylesheet" href="/css/index.css">
	<!--jquery min-->
	<script src="/js/jquery-3.4.1.min.js"></script>
	<!--materialize js-->
	<script src="/js/materialize.min.js"></script>
</head>