<!DOCTYPE html>
<html lang="enUS" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="nj-notes">
    <!-- Meta Description -->
    <meta name="description" content="stylish sticky notes">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>NJ Notes</title>
	<!--material icons-->
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--font baloo-->
	<link href="https://fonts.googleapis.com/css?family=Baloo+2:500&display=swap" rel="stylesheet"> 
	<!--material css-->
	<link rel="stylesheet" href="/css/materialize.min.css">
	<style>
		html{
			scroll-behavior: smooth;
		}
		/* footer{
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
		} */
		body {
			display: flex;
			min-height: 100vh;
			flex-direction: column;
		}

		main {
			flex: 1 0 auto;
		}

		.scroll {
			white-space: nowrap;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: -ms-autohiding-scrollbar;
			/* width: 100%; */
		}

		.scrolling-wrapper {
			/* overflow-x: scroll;
			overflow-y: hidden;
			white-space: nowrap; */

			display: flex;
			flex-wrap: nowrap;
			overflow-x: auto;
		}

		.card {
			flex: 0 0 auto;
			/* display: inline-block; */
			top: 0;
		}
	</style>
	<!--jquery min-->
	<script src="/js/jquery-3.4.1.min.js"></script>
	<!--materialize js-->
	<script src="/js/materialize.min.js"></script>
</head>