<footer class="page-footer purple darken-3">
  <div class="footer-copyright">
	<div class="container">
	© Copyright 2020
	<a class="grey-text text-lighten-4 right" href="#!">All rights reserved</a>
	</div>
  </div>
</footer>
</body>
<script>
  $(document).ready(function(){
	  $('.sidenav').sidenav();
	  $('.modal').modal();
	  $('.datepicker').datepicker();
  });   
</script>
</html>