<% include ./header.ejs %>
<body style="font-family: 'Baloo 2', cursive;">
	<div class="navbar-fixed">
		<nav class="purple darken-3">
			<a href="#" data-target="side-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<div class="nav-wrapper">
				<div style="margin-left: 30px; margin-right: 30px;">
				  <a href="#!" class="brand-logo center">Mr. Notes<img src="/img/fav2.png" class="left" style="width: 64px;height: 64px;margin-top: 2px;"></a>
					<ul class="right hide-on-med-and-down">
						<li><a class="waves-effect waves-purple btn purple darken-2" onclick="openSideNav()"><%= user.name %><i style="padding: -5px;" class="material-icons left">person</i></a></li>
					</ul>
					<!-- <ul class="left hide-on-med-and-down">
						<li><a href="/users" class="waves-effect waves-purple btn purple darken-2"><i class="material-icons left">arrow_back</i></a></li>
					</ul> -->
				</div>
			</div>
		  </nav>
	</div>
	<ul class="sidenav" id="side-nav">
		<li>
			<div class="user-view">
				<div class="background">
					<img src="/img/ocean-3605547.jpg">
				</div>
				<a href="#"><img class="circle" src="/img/human-3056693.jpg"></a>
				<a href="#"><span class="white-text name"><%= user.name %></span></a>
				<a href="#"><span class="white-text email"><%= user.email %></span></a>
		  	</div>
		</li>
		<li><a href="/users" >Home<i class="material-icons left">home</i></a></li>
		<li>
			<div class="divider"></div>
		</li>
		<li><a target="_blank" href="https://bit.ly/mrnotesfeedback">Feedback<i class="material-icons left">description</i></a></li>
		<li><a href="#">Setting<i class="material-icons left">settings</i></a></li>
		<li><a href="/logout">Logout<i class="material-icons left">exit_to_app</i></a></li>
	</ul>
	<main>